{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block headers %}
<link rel="stylesheet" type="text/css" href="{% static 'resume/css/edit.css' %}">
{% endblock headers %}

{% block title %}Create new résumé{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col edit-title">
            <a class="" href="dashboard">&lt</a>
            <h3>Create my résumé</h3>
            <hr/>
            <form method="POST" action="#">
                {% csrf_token %}

                <h4>Personal details</h4>
                <br/>
                {% include 'resume/personal_form.html' %}

                <br/>

                <div class="inline-header-button">
                    <h4>Education</h4>
                    <button class="btn btn-success" type="submit", name="new_education", value="new_education">Add education</button>
                </div>

                <br/>

                {% for education_form in education_forms %}
                    {% include 'resume/education_form.html' with collapse_id=forloop.counter %}
                {% endfor %}

                <br/>

                <button type="submit" class="btn btn-primary">Create my résumé!</button>
            </form>
        </div>

        <div class="col">
            <p>PDF preview should go here</p>
        </div>
    </div>
</div>
{% endblock content %}