{% extends 'base.html' %}

{% load static %}

{% block headers %}
<link rel="stylesheet" type="text/css" href="{% static 'resume/css/dashboard.css' %}">
{% endblock headers %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container">
    <div class="dashboard-title">
        <h1>Dashboard</h1>
        <a class="btn btn-success" href="edit">+ Create new Résumé</a>
    </div>

    <hr/>

    {% include 'resume/list_of_resumes.html' %}

</div>

{% endblock content %}
