{% load crispy_forms_tags %}

{{ work_form.non_field_errors|as_crispy_errors }}

{% for hidden in work_form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-work-{{ collapse_id }}" aria-expanded="true">
                    {% if work_form.position.value %}
                        {{ work_form.position.value }}, {{ work_form.company_name.value }}
                    {% else %}
                        Not specified
                    {% endif %}
                </button>
            </h2>
        </div>

        <div id="collapse-work-{{ collapse_id }}" class="collapse" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {{ work_form.position.errors|as_crispy_errors }}
                        {{ work_form.position|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ work_form.company_name.errors|as_crispy_errors }}
                        {{ work_form.company_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        {{ work_form.start_date.errors|as_crispy_errors }}
                        {{ work_form.start_date|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ work_form.end_date.errors|as_crispy_errors }}
                        {{ work_form.end_date|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ work_form.country.errors|as_crispy_errors }}
                        {{ work_form.country|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ work_form.description.errors|as_crispy_errors }}
                        {{ work_form.description|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
