.edit-title a {
    float: left;
    font-size: 32px;

    /* Reset margins and padding */
    margin: 0;
    padding: 0;

    /* Apply custom margin so it looks more inline */
    margin-top: -8px;
    margin-left: 8px;
    margin-right: 16px;

    text-decoration: none;
}

.inline-header-button h4 {
    display: inline-block;
}

.inline-header-button button {
    margin: 0;
    margin-top: -8px;
    margin-left: 8px;
}